In [50]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression

In [51]:
data = pd.read_csv('student_scores.csv')
data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [52]:
Hours = np.array(data['Hours'])
Scores = np.array(data['Scores'])
X = Hours.reshape(-1,1)
y = Scores.reshape(-1,1)

In [58]:
#встановлюэмо на скільки блоків будуть розділені дані в моделі, де кожен блок буде використовуватись як тестовий коли модель навчається на всіх інших
k = 5
kf = KFold(n_splits=k, shuffle=True, random_state=42)
model = LinearRegression()

In [59]:
#Розрахували точність для 5 окремих частин
scores = cross_val_score(model, X, y, cv=kf)
scores

array([0.96780555, 0.74949743, 0.90881545, 0.94043752, 0.95414507])

In [60]:
#Усереднюємо показники точності щоб отримати загальну середню точніть моделі
mean_score = sum(scores) / len(scores)
mean_score

0.9041402050111291

In [62]:
"""Я використав метод K-fold, тому що по-перше це найбільш загальний метод та його можна використовувати в багатьох
випадках. По-друге він досить добре підходить коли в нас є одна залежна змінна та один відгук.
"""

'Я використав метод K-fold, тому що по-перше це найбільш загальний метод та його можна використовувати в багатьох\nвипадках. По-друге він досить добре підходить коли в нас є одна залежна змінна та один відгук.\n'